/* =============
    Section 1
============= */
#section-1{

    div {
        background-image: url("../img/section-1/camping-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 75vh;
        position: relative;

        @include lg {
            height: 95vh;
        }
    }

    h1{
        position: absolute;
        bottom: 45%;
        left: 15%;

        @include md{
            bottom: 45%;
            left: 20%;
        }

        @include lg{
            bottom: 30%;
            left: 30%;
        }
    }

    article{
        display: grid;
        grid-template-columns: auto 80% auto;
        grid-template-areas: ". intro-text .";
        padding-top: 2%;

        @include md{
            grid-template-columns: auto 90% auto;
        }

        @include xl{
            grid-template-columns: auto 1100px auto;
        }

        p{
            grid-area: intro-text;
            text-align: center;
            padding: 2%;
        }
    }
}