/* =============
    Section 3
============= */
#section-3 {
    display: grid;
    grid-template-areas: ". video .";
    grid-template-columns: auto 95% auto;
    padding: 3% 0;

    @include md {
        grid-template-columns: auto 90% auto;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: video;
    }
}