/* =============
    Section 1
============= */
#section-1{
    background-color: $lightgreen;

    #hero-slides {
            .my-slider {
    
                div {
                    height: 75vh;
    
                    @include md {
                        height: 85vh;
                    }
    
                    @include lg {
                        height: 95vh;
                    }
    
                    @include xl {
                        height: 95vh;
                    }
    
                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                    }
                }
            }
    }

    h1{
        position: absolute;
        bottom: 30%;
        left: 5%;
        color: $darkgreen;
        font-size: rem-calc(36);

        @include md{
            font-size: rem-calc(50);
            bottom: 28%;
            left: 10%;
        }

        @include lg{
            font-size: rem-calc(70);
            bottom: 8%;
            left: 10%;
        }
    }

    article{
        display: grid;
        grid-template-columns: auto 80% auto;
        grid-template-areas: ". intro-text .";
        padding-top: 2%;

        @include md{
            grid-template-columns: auto 90% auto;
        }

        @include xl{
            grid-template-columns: auto 1100px auto;
        }

        p{
            grid-area: intro-text;
            text-align: center;
            padding: 2%;
        }
    }
}