/* =============
    Section 6
============= */
#section-6 {
    background-color: $lightgreen;
    padding: 5%;

    #map {
        height: 300px;
        width: 100%;

        @include md {
            height: 400px;
        }

        @include lg {
            height: 500px;
        }

        @include xl {
            height: 600px;
        }
    }
}
