/* =============
    Section 5
============= */
#section-5{
    background-color: $lightgreen;
    h1 {
        padding-top: 50px;
        text-align: center;
        color: $darkgreen;
    }
    
    #section-5-content {
        margin-top: 50px;
        padding-bottom: 100px;
        // margin-bottom: 10px;
        display: grid;
        // border: solid red 1px;
        gap: 80px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "c1"
            "c2"
            "c3"
            "c4"
            "c5"
            "c6"
            "c7"
            "c8"
            "c9";
    
        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "c1 c2"
                "c3 c3"
                "c4 c5"
                "c6 c6"
                "c7 c8"
                "c9 c9"
    
    
        }
    
        @include lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "c1 c2 c3"
                "c4 c5 c6"
                "c7 c8 c9"
    
        }
    
    
        .container {
            text-align: center;
            width: 300px;
            height: 200px;
            margin: auto;
            perspective: 600px;
        }
    
        .card {
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform-style: preserve-3d;
            cursor: pointer;
            position: relative;
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 6px;
            box-shadow: 0 5px 15px;
        }
    
        .card.is-flipped {
            transform: rotateY(180deg);
        }
    
        .display {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    
    
        p {
            line-height: 23px;
            color: black;
            text-align: justify;
            font-weight: bold;
            font-size: 16px;
            padding: 10px;
        }
    
        h3 {
            color: white;
            padding: 5px;
            text-align: center;
            border-radius: 6px;
            // border: solid red 1px;
            margin: 10px;
            background-color: $darkgreen;
        }
    
        .front {}
            
        .back {
            background-color: $lightblue;
            border-radius: 6px;
            transform: rotateY(180deg);
        }
    
        #c1 {
            // margin: auto;
            grid-area: c1;
        }
    
        #c2 {
            // margin: auto;
            grid-area: c2;
        }
    
        #c3 {
            // margin: auto;
            grid-area: c3;
        }
    
        #c4 {
            // margin: auto;
            grid-area: c4;
        }
    
        #c5 {
            // margin: auto;
            grid-area: c5;
        }
    
        #c6 {
            // margin: auto;
            grid-area: c6;
        }
    
        #c7 {
            // margin: auto;
            grid-area: c7;
        }
    
        #c8 {
            // margin: auto;
            grid-area: c8;
        }
    
        #c9 {
            // margin: auto;
            grid-area: c9;
        }
    
    
    }
}
