/* =============
    nina sec4
============= */
#section-4 {
    background-color: $lightgreen;

    #top-content-1 {
        width: 300px;
        @include md{
            width: 400px;
        }
        @include lg{
            width: 500px;
        }
    }

    #top-content-2 {
        background-color: #ED8F46;
        width: 300px;
        @include md{
            width: 400px;
        }
        @include lg{
            width: 500px;
        }
    }

    #top-content-3 {
        background-color: $orange;
        width: 300px;
        @include md{
            width: 400px;
        }
        @include lg{
            width: 500px;
        }
    }

    h2 {
        color: $darkgreen;
        font-size: 30px;
        padding-bottom: 30px;
        text-align: center;

        @include md {
            font-size: 40px;
        }

        @include lg {
            font-size: 45px;
        }
    }

    p {
        color: $green;
        font-size: 20px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;

        @include md {
            font-size: 25px;
            padding-left: 100px;
            padding-right: 100px;
        }

        @include lg {
            font-size: 30px;
            padding-left: 150px;
            padding-right: 150px;
        }
    }

    .container {

        display: flex;
        place-items: center;
        display: grid;
        grid-template-areas: ". accordion .";
        grid-template-columns: 10% auto 10%;


        @include md {
        padding: 0;
        display: grid;
        grid-template-areas: ". accordion .";
        grid-template-columns: 5% auto 5%;
        }
    }

    .accordion {
        grid-area: accordion;

        .option {
            .top {
                background-color: #EDA167;
                color: white;
                display: flex;
                font-size: 15px;
                padding: 10px;
                transition: .25s;

                i {
                    margin-left: auto;
                }

                @include md {
                    font-size: 17px;
                }

                @include lg {
                    font-size: 20px;
                }
            }

            #top-content-1:hover {
                background-color: $lightblue;
                color: $darkblue;
                cursor: pointer;
            }

            #top-content-2:hover {
                background-color: $lightblue;
                color: $darkblue;
                cursor: pointer;
            }

            #top-content-3:hover {
                background-color: $lightblue;
                color: $darkblue;
                cursor: pointer;
            }

            .bottom {
                overflow: hidden;

                .content {
                    color: $darkgreen;
                    padding: 10px 5px 10px 15px;
                }

                #bottom-content-1 {
                    background-color: #CFDED5;
                    font-size: 20px;
                    height: auto;
                    width: 300px;
                    @include md{
                        width: 400px;
                    }
                    @include lg{
                        width: 500px;
                    }
                }

                #bottom-content-2 {
                    background-color: #CFDED5;
                    font-size: 20px;
                    height: auto;
                    width: 300px;
                    @include md{
                        width: 400px;
                    }
                    @include lg{
                        width: 500px;
                    }
                }

                #bottom-content-3 {
                    background-color: #CFDED5;
                    font-size: 20px;
                    height: auto;
                    width: 300px;
                    @include md{
                        width: 400px;
                    }
                    @include lg{
                        width: 500px;
                    }
                }
            }
        }
    }

    h3 {
        color: $darkgreen;
        font-size: 30px;
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        text-align: center;

        @include md {
            font-size: 40px;
            padding-left: 75px;
            padding-right: 75px;
        }

        @include lg {
            font-size: 40px;
            padding-left: 250px;
            padding-right: 250px;
        }
    }

    .gear {
        .youbuy {
            text-align: center;

            img {
                padding-bottom: 40px;
            }

            h6 {
                border-radius: 25px;
                color: $darkgreen;
                font-size: 20px;
                padding-left: 50px;
                padding-right: 50px;
                text-align: center;

                @include md {
                    font-size: 25px;
                    padding-left: 150px;
                    padding-right: 150px;
                }

                @include lg {
                    font-size: 30px;
                    padding-left: 300px;
                    padding-right: 300px;
                }
            }

            p {
                color: $darkgreen;
                font-size: 20px;
                font-weight: 500;
                padding-left: 50px;
                padding-right: 50px;

                @include md {
                    font-size: 20px;
                    padding-left: 150px;
                    padding-right: 150px;
                }

                @include lg {
                    font-size: 20px;
                    padding-left: 250px;
                    padding-right: 250px;
                }
            }

            #backpack-button {
                padding: 10px;
                padding-top: 20px;
                text-align: center;

                a:link,
                a:visited {
                    background-color: $orange;
                    border-radius: 23px;
                    color: $white;
                    display: inline-block;
                    font-size: rem-calc(18);
                    font-weight: 500;
                    padding: 10px 20px;
                }

                a:hover,
                a:active {
                    background-color: $lightblue;
                    color: $darkblue;
                }
            }

            #tent-button {
                padding: 10px;
                padding-top: 20px;
                text-align: center;

                a:link,
                a:visited {
                    background-color: $orange;
                    border-radius: 23px;
                    color: $white;
                    display: inline-block;
                    font-size: rem-calc(18);
                    padding: 10px 20px;
                }

                a:hover,
                a:active {
                    background-color: $lightblue;
                    color: $darkblue;
                }
            }

            #hammock-button {
                padding: 10px;
                padding-top: 20px;
                text-align: center;

                a:link,
                a:visited {
                    background-color: $orange;
                    border-radius: 23px;
                    color: $white;
                    display: inline-block;
                    font-size: rem-calc(18);
                    padding: 10px 20px;
                }

                a:hover,
                a:active {
                    background-color: $lightblue;
                    color: $darkblue;
                }
            }

            #cook-button {
                padding: 10px;
                padding-top: 20px;
                text-align: center;

                a:link,
                a:visited {
                    background-color: $orange;
                    border-radius: 23px;
                    color: $white;
                    display: inline-block;
                    font-size: rem-calc(18);
                    padding: 10px 20px;
                }

                a:hover,
                a:active {
                    background-color: $lightblue;
                    color: $darkblue;
                }
            }
        }
    }
}