/* =============
    Footer
============= */
footer {
    background-color: $darkblue;
    color: $white;
    padding: 2%;
    text-align: center;

    p {
        padding-bottom: 1%;

        span {
            font-size: rem-calc(20);

            @include md {
                font-size: rem-calc(24);
            }

            @include lg {
                font-size: rem-calc(28);
            }
        }
    }

    #form-container {
        form {
            display: grid;
            grid-template-areas: ". email send .";
            grid-template-columns: auto 50% 25% auto;
            padding-top: 2%;

            @include md {
                grid-template-columns: auto 35% 15% auto;
            }

            @include lg {
                grid-template-columns: auto 25% 10% auto;
                padding-top: 1%;
            }

            section {
                background-color: $white;
                border: solid 2px $orange;
                border-radius: 23px;
                padding: 0 2%;
                width: 96%;

                input {
                    background-color: $white;
                    border: none;
                    border-radius: 23px;
                    padding: 2% 0;
                    width: 100%;
                }

                button {
                    i {
                        color: $darkblue;
                    }
                }

                textarea {
                    border: none;
                    border-radius: 23px;
                    padding: 0;
                    width: 100%;
                }
            }

            section:nth-child(1) {
                grid-area: email;
            }

            section:nth-child(2) {
                background-color: transparent;
                border: none;
                grid-area: send;
            }
        }
    }

    #socials {
        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 10px;
                padding-top: 1%;

                a:link,
                a:visited {
                    color: $lightblue;
                    cursor: pointer;
                    font-size: rem-calc(20);
                    transition: .25s;

                    &:hover,
                    &:active {
                        color: $orange;
                        transition: .25s;
                    }

                    @include md {
                        font-size: rem-calc(24);
                        margin: 0 15px;
                    }

                    @include lg {
                        font-size: rem-calc(32);
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}