/* =============
    Header
============= */

header {
    background-color: $darkblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: $lightblue;
    z-index: 100;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #logo-container {
            padding: 10px 20px;
            width: 45px;
        }

        #burger-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding: 25px 20px;
            height: 1vh;

            #burger {
                cursor: pointer;
                transition: 0.25s;
            }
        }
    }
}